<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http>
 		<security:form-login login-page="/index.jsp" authentication-failure-url="/index.jsp?failed=1" 
 		 default-target-url='/seguridad/paginaPrincipal.html'
 		 />
		<security:logout logout-url="/index.jsp"  invalidate-session="true" />
		<security:access-denied-handler error-page="/seguridad/403.html" />
	
 		<security:intercept-url pattern="/usuario/**"  access="ROLE_ADMIN" />
 		<security:intercept-url pattern="/reporte/**"  access="ROLE_ADMIN" />
 		<security:intercept-url pattern="/equipo/**" access="ROLE_ADMIN,ROLE_CAPTURISTA" />
 		<security:intercept-url pattern="/reparacion/**" access="ROLE_ADMIN,ROLE_CAPTURISTA" />
		
		<security:intercept-url pattern="/responsable/**" access="ROLE_ADMIN,ROLE_RESPONSABLE,ROLE_CAPTURISTA" />
		<security:intercept-url pattern="/seguridad/**"   access="ROLE_ADMIN,ROLE_RESPONSABLE,ROLE_CAPTURISTA" />
 		

	</security:http>
	
	<security:authentication-manager>
	<security:authentication-provider user-service-ref="userDetailsService">
	        		<!--security:password-encoder hash="md5"/ -->
	</security:authentication-provider>
	
	</security:authentication-manager>

</beans>