<beans xmlns="http://www.springframework.org/schema/beans"    
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
       xmlns:p="http://www.springframework.org/schema/p"    
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     
       http://www.springframework.org/schema/context     
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">     
	 
	 <!--  carga las clases anotadas del paquete -->  
	<context:component-scan  base-package="repositorio,servicio" />
	 
	<!--  carga el archivo server.properites para leer las propiedades ${jdbc.*} y {h2.*} --> 
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	 <!--  Bean de datasource para la base de datos -->        
	 <bean class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" id="dataSource">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
	</bean>
	
	 <!-- inicializa la base de datos defininida en e bean dataSource con el contenido del script 
	<jdbc:initialize-database data-source="dataSource">
	      <jdbc:script location="classpath:${jdbc.scriptSql}" />
	</jdbc:initialize-database>	-->
	
	<!-- Crea un servidor web para la consola del bean h2Server 
	<bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer" init-method="start" destroy-method="stop">
	    <constructor-arg value="-web,-webAllowOthers,-webPort,${h2.webport}"/>
	</bean>-->
			
	<!--Levanta el  Servidor de la base de datos  
	<bean id="h2Server" class="org.h2.tools.Server" factory-method="createTcpServer" 
			init-method="start" destroy-method="stop" depends-on="h2WebServer">
	    <constructor-arg value="-tcp,-tcpAllowOthers,-tcpPort,${h2.tcpport}"/>
	</bean>  -->
	
	<bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>hibernateconf/Usuario.hbm.xml</value>
                <value>hibernateconf/MenuRol.hbm.xml</value>
                 <value>hibernateconf/DependenciaUniversitaria.hbm.xml</value>
                 <value>hibernateconf/MenuItem.hbm.xml</value>
                 <value>hibernateconf/CaracteristicaEquipo.hbm.xml</value>
                 <value>hibernateconf/TipoEquipoComputo.hbm.xml</value>
                 <value>hibernateconf/EquipoComputo.hbm.xml</value>
                 <value>hibernateconf/ReparacionEquipo.hbm.xml</value>
                 
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.format_sql=true
                hibernate.show_sql=true
                hibernate.dialect=${jdbc.dialect}

            </value>
        </property>
    </bean>
	
<!--                
                hibernate.dialect=org.hibernate.dialect.H2Dialect

 hibernate.hbm2ddl.auto=create
 -->       
       <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>
   
<!-- Fabrica para construir el validador -->
	<bean id="validatorFactory" class="javax.validation.Validation"
		factory-method="buildDefaultValidatorFactory" />

	<bean id="validator" factory-bean="validatorFactory"
		factory-method="getValidator" />
       
       
</beans>